

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
    </head>
    <script>
        function poster(){
            fetch('')
        }
    </script>
    <body class="bg-gradient-to-r from-white to-blue-500" >
        <div class='flex flex-col'>
            <!--                           -->
            <div class='flex h-screen justify-center items-center'>
                <div class='flex justify-center items-center  w-2/4 h-2/4 pr-10 pl-10 shadow-2xl bg-white rounded-lg '>
                    <div>
                        <h1></h1>
                        <a onclick="poster()" style='margin: auto; width: 80%;' class='text-center w-64 pt-3 pb-3' href='/login'>
                            <h1 class="text-5xl font-medium leading-tight mt-0 mb-2 text-blue-600">Press the button below to being session</h1>

                            <div class=' pr-10 pl-10 hover:bg-purple-900 h-10 text-2xl font-semibold text-white mt-4 bg-purple-700 rounded-md  text-center'>
                                Start Session
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <!--                          -->
            <div style='margin-bottom: 200px;' class='flex m-auto flex-col md:flex-col pt-8 w-2/4 shadow-2xl bg-white rounded-lg'>


            </div>
        </div>
    </body>
</html>